{% extends "base.html" %}
{% block title %}
Photos tagged
{% for t in tags %}
{{t}}
{% endfor %}
{% endblock %}

{% block content %}
<h2>
  Photos tagged
  {% for t in tags %}
  "{{t}}"
  {% endfor %}
</h2>

<table>
  {% for pic in pictures %}
  <tr>
    <td>{{pic[0]}}</td> <!-- name -->
    <td><a href="/albums/view/{{pic[3]}}">{{pic[5]}}</a></td> <!-- album -->
    <td><a href="/photos/view/{{pic[1]}}"><img src='data:image/jpg;base64,
                             {{ base64.b64encode(pic[2]).decode("ascii") }}'/></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
